<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoRe</title>
    <link rel="icon" href="https://i.ibb.co/GJMYmnN/FoodIcon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bowlby+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
      body {
          --base-color: white;
          --base-color-2: #426afd;
          --base-color-4: blue;
      }
      
      /* Loader */
      
      .loader {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .loader > img {
        width: 400px;
      }
      
      .loader.hidden {
        animation: fadeOut 1s;
        animation-fill-mode: forwards;
      }
      
      @keyframes fadeOut {
        100% {
            opacity: 0;
            visibility: hidden;
        }
      }

      /* Navigation Bar */

      .material-symbols-outlined {
        color: var(--base-color);
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48,
      }
      
      div.profile-nav > a {
        font-size: 35px;
        padding: 15%;
        margin-right: 5%;
      }
      
      ul.search {
        flex-direction: row;
        width: 500px;
        height: 50px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 20px;
      }
      
      button.button {
        background-color:#010815;
        color: white;
        margin-left: -50px;
        margin-top: 5px;
        border: none;
      }
      
      input.input{
        flex: 1;
        height: 40px;
        width: 400px;
        border: none;
        border-radius: 30px;
        outline: none;
        font-size: 18px;
        padding-left: 20px;
        color: gray;
        background-color: #010815;
      }
      
      div.online_friends {
        text-align: left;
        padding: 10px;
        font-size: 15px;
        border: 3px;
      }
      
      div.language_menu {
        background-color: rgb(46, 49, 49);
      }
      
      div.language_menu > a {
        color: white;
      }
      
      .dropdown-toggle::after {
        content: none;
      }
      
      li.nav-item {
        padding: 0; 
      }
      
      li.nav-item span.material-icons {
        color: var(--base-color);
        font-size: 20pt;
        margin-left: -5px;
      }
      
      .account_menu a.dropdown-item img {
        width: 50px;
        margin-left: 0px;
        margin-right: 8px;
        
      }
      
      li.nav-item span:hover {
        box-shadow: 5px 5px 10px var(--base-color);
        border-radius: 10px;
      }
      
      li.nav-item span.material-icons:hover {
        color: var(--base-color);
        font-size: 20pt;
        margin-left: -5px ;
      }
      
      .account_menu a.dropdown-item {
        color: white;
        padding: 10px, 0px;
      
      }
      
      .account_menu a.dropdown-item:hover {
        color: var(--base-color);
        background-color: var(--base-color-4);
        border-radius: 0;
        padding: 10px, 0px;
      }

      .navbar {
          border: none;
          border-bottom-left-radius: 10px;
          box-shadow: 5px 5px var(--base-color-4);
      }
      .bg-color1 {
          background: var(--base-color-2);
      }
      .navbar .navigasi-1 {
          background-color: var(--base-color-2);
          font-family: 'Black Ops One', cursive;
          color: var(--base-color);
          text-decoration: none;
      }
      .navbar .navigasi-1:hover {
          animation-name: navbar;
          animation-duration: 5s;
          animation-iteration-count: infinite;
      }
      .navbar .navigasi-2 {
          color: var(--base-color);
          font-family: 'Black Ops One', cursive;
          text-decoration: none;
          position: relative;
      }
      .navbar .navigasi-2::after {
          content: '';
          height: 3px;
          width: 0;
          background: var(--base-color);
          position: absolute;
          left: 0;
          bottom: -5px;
          transition: 0.5s;
      }
      .navbar .navigasi-2:hover::after {
          width: 100%;
      }
      @keyframes navbar {
          50% {text-shadow: 15px 15px var(--base-color);}
          100%{text-shadow: none;}
      }
        
        .thecomment {
        padding: 2%;
        }
        
        .comment_content {
        display: flex;
        align-items: center;
        padding-top: 2%;
        padding-left: 2%;
        padding-bottom: 0;
        }
        
        .comment_content img {
        width: 6%;
        margin-right: 2%;
        }
        
        .comment_content h3 a {
        font-size: 20pt;
        }
        
        .comment a {
        padding-left: 12%;
        margin-top: 0%;
        padding-bottom: 1%;
        font-size: 15pt;
        }
    </style>
</head>
    <body>
      <% account.reverse().forEach(pic => { %>
        <div class="loader">
            <img src="https://i.ibb.co/GJMYmnN/FoodIcon.png" alt="Loading..." />
        </div>

        <nav class="navbar fixed-top sticky-top navbar-expand-sm bg-color1">
            <a class="navbar-brand navigasi-1" href="/">FoRe</a>
            <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="material-icons"><span class="material-icons">list</span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="search navbar-nav ml-auto mr-auto">
                    <li class="nav-item">
                    </li>
                </ul>
                <ul class="left_navbar_side navbar-nav" style="justify-items: center; align-items: center; align-content: center; justify-content: center;"> 
                    <li class="nav-item"><a class="tool nav-link" href="/upload">
                      <span class="material-icons" style="transition: 1s; font-size: 20pt;">file_upload</span></a>
                    </li>
                    <li class="nav-item"><a class="tool nav-link" href="/">
                      <span class="material-icons" style="transition: 1s; font-size: 20pt;">home</span></a>
                    </li>
                    <li class="account_dropdown nav-item dropdown" style="transition: 1s;">
                      <a class="tool nav-link dropdown-toggle" role="button" data-toggle="dropdown"><span class="material-symbols-outlined" style="transition: 1s; margin-left: 1%; font-size: 20pt; cursor: pointer;">settings</span></a>
                      <div class="account_menu dropdown-menu dropdown-menu-right" style="background-color: var(--base-color-2); border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">
                          <a class="dropdown-item" href="/logout" style="border-radius: 25px; transition: 1s;">Log Out</a>
                      </div>
                    </li>
                </ul>
            </div>
            <% }) %>
        </nav>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <script>feather.replace()</script>
        <script>
          // Get the modal
          var modal = document.getElementById("myModal");
          
          // Get the button that opens the modal
          var btn = document.getElementsByClassName("Comment_button");
          
          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          for(var i = 0 ; i < 1000 ; i++) {
            btn[i].onclick = function() {
            modal.style.display = "block";
            };
          
          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
            modal.style.display = "none";
          }
          
          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
        }
          </script>
          <script>
            window.addEventListener("load", function () {
              const loader = document.querySelector(".loader");
              loader.className += " hidden"; // class "loader hidden"
            });
          </script> 
  </body>
</html>