<div class="feed">
      
    <div class="uploads">
      <form action="/addtulisan" method="post">
        <div class="uploads_input">
          <img
            src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
            alt=""
          />
          <input type="text" placeholder="What's happening?" name="tulis" />
          <button class="upload-button">Share</button>
            Post
        </span>
        </div>
    </form>
    </div>