<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password-FoRe</title>
    <link rel="icon" href="https://i.ibb.co/GJMYmnN/FoodIcon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="setting.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bowlby+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <style>
      body {
        --main-radius: 15px;
        --main-padding: 8px;
        --base-color: white;
        --base-color-2: #426afd;
        --base-color-4: blue;
      }
  
      .loader {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    .loader > img {
    width: 250px;
    }

    .loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
    }

    @keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
    }
    .navbar {
          border: none;
          border-bottom-left-radius: 10px;
          box-shadow: 5px 5px var(--base-color-4);
      }
      .bg-color1 {
          background: var(--base-color-2);
      }
      .navbar .navigasi-1 {
          background-color: var(--base-color-2);
          font-family: 'Black Ops One', cursive;
          color: var(--base-color);
          text-decoration: none;
      }
      .navbar .navigasi-1:hover {
          animation-name: navbar;
          animation-duration: 5s;
          animation-iteration-count: infinite;
      }
      .navbar .navigasi-2 {
          color: var(--base-color);
          font-family: 'Black Ops One', cursive;
          text-decoration: none;
          position: relative;
      }
      .navbar .navigasi-2::after {
          content: '';
          height: 3px;
          width: 0;
          background: var(--base-color);
          position: absolute;
          left: 0;
          bottom: -5px;
          transition: 0.5s;
      }
      .navbar .navigasi-2:hover::after {
          width: 100%;
      }
      @keyframes navbar {
          50% {text-shadow: 15px 15px var(--base-color);}
          100%{text-shadow: none;}
      }

  .body::-webkit-scrollbar {
      display: none;
  }

  .form-group input {
      background-color: var(--base-color);
      border:1px solid var(--base-color-2);
      color: var(--base-color-2);
  }

  .form-group label.form-check-label {
      color: var(--base-color-2);
  }

  .form-group label {
      color: var(--base-color-2);
  }

  .form-group input:focus {
      background-color: var(--base-color);
      border:1px solid var(--base-color-2);
      color: var(--base-color-2);
  }

  .form-group .form-control {
    -webkit-text-security: disc;
  }
    </style>
</head>
<body>
    <div class="loader">
        <img src="https://i.ibb.co/GJMYmnN/FoodIcon.png" alt="Loading..." />
    </div>
    <nav class="navbar navbar-dark bg-color1">
        <a class="navbar-brand navigasi-1" href="/">FoRe</a>
        <ul class="navbar-nav" style="display: flex;">
            <li class="nav-item">
                <a class="navigasi-2" href="/signup">Sign Up</a>
            </li>
        </ul>
    </nav>

    <div class="form" style="padding-top: 40px;">
        <div class="container">
              <div class="col">
                <div class="card-body" style="text-align: left;">
                  <form action="/otp_password" method="post">
                        <div class="form-group">
                            <label >New Password</label>
                            <input type="Password" placeholder="New Password" id="textColor" name="password_update" class="form-control">
                        </div>
                        <div class="form-group">
                            <label >Confirm New Password</label>
                            <input type="Password" placeholder="Confirm New Password" name="password_update_confirm" id="textColor" class="form-control">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1" style="color: var(--base-color-2);">Are you sure wanna change your password</label>
                        </div>
                        <div>
                          <button name="submit" id="submit" type="submit" class="btn btn-primary ">Submit</button>
                        </div>
                        <% if(locals.error) { %>
                          <span class ="text-danger pl-2"><%= error %></span>
                        <% } %>
                    </form>
                </div>
              </div>
            </div>
        </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script>
  document.getElementById("textColor").style.color='var(--base-color-2)';
</script>
<script>
  window.addEventListener("load", function () {
    const loader = document.querySelector(".loader");
    loader.className += " hidden"; // class "loader hidden"
  });
</script> 
</body>
</html>