<html>
    <head>
        <title>Verification-FoRe</title>
        <link rel="icon" href="https://i.ibb.co/GJMYmnN/FoodIcon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">
        <link rel="icon" href="C:\Joshua\Kuliah Semester 3\Web Programming (8 sks)\Project_UTS\Project_Beneran\Icons\favicon.ico">
        <style>
            body {
                --base-color: white;
                --base-color-2: #426afd;
                --base-color-4: blue;
            }
            .loader {
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background:white;
            display: flex;
            justify-content: center;
            align-items: center;
            }

            .loader > img {
            width: 250px;
            }

            .loader.hidden {
            animation: fadeOut 1s;
            animation-fill-mode: forwards;
            }

            @keyframes fadeOut {
            100% {
                opacity: 0;
                visibility: hidden;
            }
            }
            .navbar {
                border: none;
                border-bottom-left-radius: 10px;
                box-shadow: 5px 5px var(--base-color-4);
            }
            .bg-color1 {
                background: var(--base-color-2);
            }
            .navbar .navigasi-1 {
                background-color: var(--base-color-2);
                font-family: 'Black Ops One', cursive;
                color: var(--base-color);
                text-decoration: none;
            }
            .navbar .navigasi-1:hover {
                animation-name: navbar;
                animation-duration: 5s;
                animation-iteration-count: infinite;
            }
            @keyframes navbar {
                50% {text-shadow: 15px 15px var(--base-color);}
                100%{text-shadow: none;}
            }
            .kotak{
                background-color: transparent;
                display: flex;
                flex-flow: column;
                text-align: center;
                margin: 3% 20%;
                border-radius: 10px;
                box-shadow: none;
                padding: 2% 0%;
                border: 2px solid var(--base-color-2);
                box-shadow: 5px 5px var(--base-color-2);
                align-items: center;
            }
            .userInput{
                display: flex;
                justify-content: center;
            }
            h1{
                text-align: center;
                font-family: sans-serif;
                color: #5c7aea;
                font-size: 30pt;
            }
            button{
                width: 150px;
                height: 40px;
                margin: 25px auto 0px auto;
                font-family: sans-serif;
                font-size: 14pt;
                border: none;
                border-radius: 5px;
                letter-spacing: 2px;
                cursor: pointer;
            }
            .kotak img {
                width: 300px;
                margin: 0;
            }
            .btn-color1 {
                background-color: var(--base-color-2);
                color: var(--base-color);
            }
            .btn-color1:hover {
                background: transparent;
                color: var(--base-color-2);
                border: 2px solid var(--base-color-2);
            }
            .input-otp{
                width: 20%;
                color: black;
                border: 2.5px solid var(--base-color-2);
                box-shadow: none;
                margin: 10px;
                border-radius: 5px;
                text-align: center;
                font-family: sans-serif;
            }
            .input-otp:focus {
                border: var(--base-color-4);
            }

            /* @media (max-width: 980px) {
                .bodyhtml {
                    background: black;
                }
                .navbar {
                    box-shadow: none;
                    border: 2px solid #5c7aea;
                }
                .navbar .navigasi-1:hover {
                    color: black;
                }
                .navbar .navigasi-1 {
                    font-size: 50pt;
                    font-family: 'Black Ops One', cursive;
                    color: black;
                    text-decoration: none;
                }
                .kotak{
                    background-color: transparent;
                    display: flex;
                    flex-flow: column;
                    text-align: center;
                    margin: 5% 5%;
                    border-radius: 10px;
                    box-shadow: none;
                    padding: 2% 0%;
                    border: 2px solid #5c7aea;
                }
                .kotak img {
                    width: 30%;
                    margin: 1% 0%;
                    color: var(--base-color-2);
                }
                .userInput{
                    display: flex;
                    justify-content: center;
                }
                input{
                    margin: 10px;
                    width: 85px;
                    height: 55px;
                    border: none;
                    border-radius: 5px;
                    text-align: center;
                    font-family: sans-serif;
                    font-size: 14pt;
                    color: black;
                    background: #5c7aea;
                }
                input:focus{
                    border: 2px solid var(--base-color);
                }
                h1{
                    text-align: center;
                    font-family: sans-serif;
                    color: #5c7aea;
                    font-size: 60pt;
                }
                button{
                    width: 300px;
                    height: 70px;
                    margin: 25px auto 0px auto;
                    font-family: sans-serif;
                    font-size: 14pt;
                    border: none;
                    border-radius: 5px;
                    letter-spacing: 2px;
                    cursor: pointer;
                    color: black;
                    background-color: #5c7aea;
                }
                .resend-code {
                    text-align: center;
                    font-size: 24pt;
                }
                .kotak img {
                    width: 400px;
                    margin: 0;
                }
                .btn-color1 {
                    background-color: #5c7aea;
                    color: black;
                }
                .btn-color1:hover {
                    background: transparent;
                    color: #5c7aea;
                    border: 2px solid #5c7aea;
                }
            } */
        </style>
        <script type="text/javascript">
            function clickEvent(first,last){
                if(first.value.length){
                    document.getElementById(last).focus();
                }
            }
        </script>
    </head>
    <body class="bodyhtml">
        <div class="loader">
            <img src="https://i.ibb.co/GJMYmnN/FoodIcon.png" alt="Loading..." />
        </div>
        <nav class="navbar navbar-dark bg-color1">
            <a class="navbar-brand navigasi-1" href="/">FoRe</a>
        </nav>
        <form action="/verification" method="post">
            <div class="kotak">
                <img src="https://media2.giphy.com/media/ukx7mWo5EyObRskaas/giphy.gif?cid=790b761129adcf55dea1b628e0bc7388f9351669bb07ec7c&rid=giphy.gif&ct=s" alt="Gambar">
                <h1 style="font-weight: bold;">OTP</h1>
                <input class="input-otp" type="text" name="random">
                <button class="btn btn-color1 card-sub" type="submit" name="submit">Confirm</button>
                <br>
                <div class="resend-code">
                    <a href="#" style="color: var(--base-color-2); font-family: sans-serif; font-weight: bold;">Resend Code</a>
                    <a style="color: var(--base-color-2); font-family: sans-serif;">if you didn't get the email.</a>
                </div>
            </div>
        </form>

        <script>
            window.addEventListener("load", function () {
              const loader = document.querySelector(".loader");
              loader.className += " hidden"; // class "loader hidden"
            });
        </script> 
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>