<html>
    <head>
        <title>Sign Up-FoRe</title>
        <link rel="icon" href="https://i.ibb.co/GJMYmnN/FoodIcon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bowlby+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/Assets/css/sign_up-style.css">
    </head>
    <body>
        <div class="loader">
            <img src="https://i.ibb.co/GJMYmnN/FoodIcon.png" alt="Loading..." />
        </div>
        <nav class="navbar navbar-dark bg-color1">
            <a class="navbar-brand navigasi-1" href="/">FoRe</a>
            <ul class="navbar-nav" style="display: flex;">
                <li class="nav-item">
                    <a class="navigasi-2" href="/">Login</a>
                </li>
            </ul>
        </nav>
    
        <div class="main">
            <img class="bayangan-gambar" style="border-radius: 10px; justify-content: center; width: 250px; margin: 10px; object-fit: cover;" src="https://i.ibb.co/X4MY0xt/1003810.jpg" alt="1003810">
            <div class="sign_up card text-center">
                <div class="card-header">
                    <h1>Sign Up</h1>
                </div>
                <div class="card-body" style="text-align: left;">
                    <form action="/auth/signup" method="post" autocomplete="off">
                        <div class="form-group">
                            <label >Name :</label>
                            <input type="text" placeholder="First" id = "name" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <div class="date">
                                <label >Birth Date :</label>
                                <input type="date" id="date" class="form-control" name="date">
                            </div>
                            <div class="sex">
                                <label >Sex :</label>
                                <input list="Sex" id="sex"class="form-control" name="sex">
                            </div>
                        </div>
                        <div class="form-group">
                            <label >E-Mail :</label>
                            <input type="email" placeholder="Example@gmail.com" id = "email" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label >Password :</label>
                            <input type="text" placeholder="*******" id = "password" class="form-control" name="password" style="-webkit-text-security: disc;">
                        </div>
                        <div class="form-group">
                            <label >Confirm Password :</label>
                            <input type="text" placeholder="*******" id = "confirm_password" class="form-control" name="password_" style="-webkit-text-security: disc;">
                        </div>
                        <div class="form-group">
                            <label >Phone Number :</label>
                            <input type="Number" placeholder="123456789" id = "number" class="form-control" name="number">
                        </div>
                        <div class="form-group-button d-flex flex-row align-items-center justify-content-center">
                            <button class="btn btn-color">Create Account</button>
                        </div>

                        <% if(locals.error) { %>
                        <span class="text-danger pl-2" style="font-size: 2.2vh"><%= error %></span>
                        <% } %>
                    </form>

                    <datalist id="Sex"> 
                        <option>Male</option> 
                        <option>Female</option> 
                    </datalist>
                </div>
            </div>
            <img class="bayangan-gambar" style="border-radius: 10px; justify-content: center; width: 250px; margin: 10px; object-fit: cover;" src="https://i.ibb.co/NpWkdQv/flat-lay-batch-cooking-composition-23-2148765597.webp" alt="flat-lay-batch-cooking-composition-23-2148765597">
        </div>

        <script>
            window.addEventListener("load", function () {
              const loader = document.querySelector(".loader");
              loader.className += " hidden"; // class "loader hidden"
            });
        </script> 
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>